# Better default ls
#   -l Long format with details
#   -A Almost all (include hidden, excluse . and ..)
#   -h Human readable file sizes
#   -G or --color-auto Colourise output on Linux and OSX
#   -F Classify entries with one of the following types
#     * Executable
#     / Directory
#     @ Symlink
#     | Pipe
#     = Socket

if [ "$TERM" != "dumb" ]
then
	if [ $(uname) == "Linux"  ]
	then
		alias ls="ls -lAhF --color=auto"
 	else
   		alias ls="ls -GlAhF"
 	fi
fi

# Git

alias gs="git status -s -b"
alias gl="git log --format='%h %Cred%ar%Creset %Cgreen%s' --graph"
alias gb="git branch --color -vv"
alias grd="git fetch origin -p && git checkout develop && git reset --hard origin/develop"
