# Make nano the default editor

export EDITOR="nano"

# Larger bash history (default is 500)

export HISTSIZE=1000
export HISTFILESIZE=$HISTSIZE

# Don't put duplicate entries in the bash history

export HISTCONTROL=ignoredups

# Make some commands not show up in history

export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# Ensure coloured text on OSX

export CLICOLOR=1

# Give priority to brews over system binaries

export PATH=/usr/local/bin:$PATH

# Make sure global npm binaries are available

export PATH=/usr/local/share/npm/bin:$PATH