# Spawn a HTTP server in the current directory. Port defaults to 8000.

function server {
    local port="${1:-8000}"
    sleep 1 && open "http://127.0.0.1:${port}/" &
    python -m SimpleHTTPServer $port
}

# Recursively delete .DS_Store files from the current directory.

function clean_ds_store {
	find . -type f -name '*.DS_Store' -ls -delete
}