[alias]
	# Readable concise status
	s = status -s -b
	# Readble pretty logs
	l = log --pretty=format:'%Cred%h%Creset %s %Cgreen(%cr) %C(bold blue)<%ae>%Creset' --abbrev-commit --show-linear-break=~
	# Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
	# Hard reset current branch to the origin
	rsc = !"git fetch origin -p && git reset --hard origin/$(git symbolic-ref --short -q HEAD)"
	# Hard reset the named branch to the origin
	rs = !"f() { git fetch origin -p && git checkout \"$1\" && git reset --hard origin/\"$1\"; }; f"
	# Rebase the current branch against the named origin branch
	rb = !"f() { git fetch origin -p && git rebase origin/\"$1\"; }; f"
	# Amend the previous commit with all currently staged and unstaged changes
	amend = !"git add -A && git commit --amend --no-edit"
	# Update submodules
	subs = !"git submodule sync --recursive && submodule update --init --recursive"
	# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	# Bump a branch with an empty commit to restart stalled CI etc.
	bump = commit --allow-empty -m 'Empty commit'
	# Undo the last commit, keeping its changes
	undo = reset HEAD~1
	# Push the current branch to origin
	pc = !"git push origin $(git symbolic-ref --short -q HEAD)"
	# Force push the current branch to origin
	pcf = !"git push origin $(git symbolic-ref --short -q HEAD) --force-with-lease"
	# Nuke uncommited changes
	nuke = !"git stash --include-untracked && git stash drop"
[core]
	editor = nano
	trustctime = false
	untrackedCache = true
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[merge]
	log = true
[push]
	default = simple
[diff]
	renames = copies
[include]
	path = ~/.gitconfig.personal
[http]
    # Set a high postBuffer to avoid hands when pushing large files
	# https://stackoverflow.com/a/68711337/1058314
	postBuffer = 20000000
